{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "rules": {
    "jsx-quotes": ["error", "prefer-double"],
    "comma-dangle": ["error", "always-multiline"],
    "object-curly-spacing": ["error", "never"]
  },
  "env": {
    "jest": true
  },
  "globals": {
    "__DEV__": true
  }
}
